<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">

<!-- 
	TODO: add to HTML output for use with wkpdf
	wkpdf --no-caching -y print -o test.pdf -s <URL>
-->

@media print {

html {
	margin-top: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-top: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;

}

body {
	margin-top: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-top: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	line-height: 1.4em !important;
	font-size: 8pt !important;
	font-weight: 300 !important;
}

a {
	color: #000 !important;
	font-weight: 600 !important;
}

h1 {
   	border-bottom:1px solid #ccc !important;
	margin-bottom: 1em !important;
}

.resume {
	padding-top: 0 !important;
	margin-top: 0 !important;
}

.job {
	font-size: 8pt !important;
}


.location {
display: none !important;
}

.jobTitle {
	margin-bottom: 2em !important;
}

.skills {
border-top: none !important;
}

.projects {
	margin-left: 0 !important;
	margin-right: 0 !important;
	margin-bottom: 2em !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	font-size: 8pt !important;
	font-family: sans-serif;
}

.project {
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.description, .activityDescription, .jobDescription {
	border-top: 1px solid #ccc;
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	font-style:italic;
}

.para, .pub, .degree {
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.skills, .skillSetTitle {
	margin: 0 !important;
	margin-bottom: .5em !important;
	padding: 0 !important;
}

ul, ol {
padding-right: 0 !important;
padding-left: .5em !important;
}

ol li {
	font-size: 7pt !important;
	margin-bottom: .2em !important;
}

ol li a {
	font-weight: 300 !important;
}

}

</xsl:stylesheet>