<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">

/* $Id: screen.css,v 1.12 2003/07/24 13:09:05 asc Exp $ */

/* elements */

a {
  text-decoration:none;
  color:#a52a2a; 
}

a:hover {
	text-decoration:underline;
	color: #3f3f3f;
	}

html {

}	

body {
     margin-top    : 0in;
     margin-bottom : 0in;
     margin-left   : 5em;
     margin-right  : 0in;

     padding-top    : 2em;
     padding-bottom : 5em;
     padding-right  : 4em;
     padding-left   : 4em;

     font-size   : 1.3em;
     line-height: 1.5em;

}

div {
}

h1 {
   color:#666;
   font-size:2em;
   font-weight:100;
   font-family:serif;

   border-bottom:1px dotted #ccc;
   padding-bottom:0.1in;
   margin-bottom: 1em;
}

h2 { 
   margin-top : 0.30in;
   margin-bottom : 0.10in;

   padding-top: 0.10in;

   border-top: 1px solid #ccc;

   font-family:serif;
   color: #adadad;
} 


li {
    line-height:1.3em;
    margin-right:10%;
    margin-bottom: 10px;
}

p { 

} 

sup { 
    color: #666; 
    vertical-align:middle;
    font-size:8pt;
}

ul { 
    /* border:solid thin; */
    margin-top:0in;
    margin-right:0in;
    list-style-type:none;
}

/* classes */

.activity {
	  margin-left:0in;
}

.activityDescription {
        border-top:1px dotted #ccc;

	margin-left: 0in;
	margin-right:0.50in;

	padding-left:0.25in;
	padding-top:0.10in;
}

.activityDescription p {
		margin-top:0in;
		margin-left:0in;
		margin-right:0in;
}

.activityTitle {
	  color:#666;
	  font-weight:600;
	  font-size:1.1em;
}

.address {}

.award {
       margin-left:-0.4in;
}

.awardTitle {
	  color:#666;
	  font-weight:600;
	  font-size:1.1em;
}

.degrees {
	margin-left:0in; 
	margin-right:0.50in;
	padding-left:0in;
}

.degree {}

.degreeTitle {
	  color:#666;
	  font-weight:600;
	  font-size:1.1em;
}

.description {
	     margin-top:0.10in;
	     margin-right:0.50in;
     
	     padding-top:0.10in;
	     border-top:1px dotted #ccc;
}

.description p {
	     margin-right:0in;
}

.employer {}

.externalLinks {
	font-size: small;
	margin-left: 0px;
	padding-left: 0px;
}

.externalLinks li {
	margin-left: 2em !important;
}

.heading {}

.headingText {}

.institution {}

.interestTitle {
	       margin-left:-0.15in;
}

.job {
       margin-left:0in;
}

.jobTitle {
	  color:#666;
	  font-weight:600;
	  font-size:1.1em;
	margin-bottom: 1.5em;
}

.jobDescription {
        border-top:1px dotted #ccc;

	margin-left:0in;
	margin-right:0.50in;

	padding-left:0.25in;
	padding-top:0.10in;
}

.jobDescription p {
		margin-top:0in;
		margin-left:0in;
		margin-right:0in;
}

.lastModified {
	      font-size: 8pt;
	      font-family:serif;
      	      margin-top:0.5in;
	      color:#ccc;
}

.linkA {}

.location {
	font-size: small;
	font-family: sans-serif;
	color: #666;
}

.membership {
	    margin-left:-0.4in;
}

.membershipTitle {}

.membershipDescription {
        border-top:1px dotted #ccc;

	margin-top:0.10in;
	margin-right:0.50in;

	padding-top:0.10in;
}

.membershipDescription p {
		       margin-right:0in;
}

.nameHeading {}

.organization {
	  color:#666;
	  font-weight:600;
	  font-size:1.1em;
}

.para { 
       margin-left:0.25in;
}

.project {
	 list-style-type:circle;
	 list-style-position:inside;
	line-height: 1.6em;
}

.projects {
	font-style: italic;
}

.projects p { display:none; }

.referees {}

.refereeName {
	  color:#666;
	  font-weight:600;
	  font-size:1.1em;
}

.resume {}

.skills {
        border-top:1px dotted #ccc;

	display:block;	

	/* see notes in screen.css for
	   why this is necessary */
	font-weight:100;
	color:#3f3f3f;
	margin-left:0in;

	padding-top:0.10in;
	padding-left:0.25in;
}

.skillSetTitle {
	  color:#666;
	  font-weight:600;
	  display:block;
	  margin-bottom:0.1in;	
	  font-size: 1.1em;
	  margin-left:0in;
}

@media (min-width: 320px) and (max-width: 400px) {

html {
	margin: 0px !important;
}

body {
	margin: 1.25em !important;
	padding: 0px !important;

	font-size: 1.1em;
	line-height: 1.5em;
	font-family: sans-serif;
	font-weight: 100;
}

.para {
	margin-left: 0px !important;
}

.jobDescription, .skills, .pubs, .interestTitle, .activity  {
	margin-left: 0px !important;
	margin-right: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	font-size: small;
}

.externalLinks {
	margin-left: 0px !important;
	margin-right: 0px !important;
	padding-left: .5em !important;
	padding-right: 0px !important;
}

.projects, .degree {
	font-size: small;
}

.projects ul {
	margin:0px !important;
	padding: 0px !important;
}

.project{
	line-height: 1.8em !important;
}

.para {
	font-size: small;
}

.activityDescription {
	margin:0px !important;
	padding: 0px !important;
	font-size: small;
}

}

@media print {

html {
	margin-top: 0px !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
	padding-top: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;

}

body {
	margin-top: 0px !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
	padding-top: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	line-height: 1.4em !important;
	font-size: 10pt !important;
	font-weight: 200 !important;
}

a {
	color: #000 !important;
	font-weight: 600 !important;
}

h1 {
   	border-bottom:1px solid #ccc !important;
	margin-bottom: 1em !important;
}

.resume {
	padding-top: 0px !important;
	margin-top: 0px !important;
}

.job {
}


.location {
display: none !important;
}

.jobTitle {
	margin-bottom: 2em !important;
}

.skills {
border-top: none !important;
}

.projects {
	margin-left: 0 !important;
	margin-right: 0 !important;
	margin-bottom: 2em !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	font-size: 8pt !important;
	font-family: sans-serif;
}

.project {
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.description, .activityDescription, .jobDescription {
	border-top: 1px solid #ccc;
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.para, .pub, .degree {
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.skills, .skillSetTitle {
	margin: 0 !important;
	margin-bottom: .5em !important;
	padding: 0 !important;
}

ul, ol {
padding-right: 0 !important;
padding-left: .5em !important;
}

ol li {
	margin-bottom: .2em !important;
}

ol li a {
}

.externalLinks li a {
	font-weight: 100 !important;
	font-size: small;
}

}


</xsl:stylesheet>
