<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">

/* $Id: screen.css,v 1.12 2003/07/24 13:09:05 asc Exp $ */

/* elements */

a {
  text-decoration:none;
  color:#a52a2a; 
}

a:hover {
	text-decoration:underline;
	color: #3f3f3f;
	}

html {
     margin-left   :1.5in;
}	

body {
     margin-top    : 0in;
     margin-bottom : 0in;
     margin-left   : 0in;
     margin-right  : 0in;

     padding-top    : 0.5in;
     padding-bottom : 0.25in;
     padding-right  : 0in;
     padding-left   : 0.5in;

     font-family : sans-serif;
     font-size   : 10pt;

     /*
     background-repeat:no-repeat;
     background-position: 0in 0.50in;
     background-attachment:fixed;
     background-image: url("http://aaronland.net/site/media/img/index/aaronland-a.gif");
     */

}

div {
}

h1 {
   color:#666;
   font-size:2em;
   font-weight:100;
   font-family:serif;

   border-bottom:1px dotted #ccc;
   padding-bottom:0.1in;
}

h2 { 
   margin-top : 0.30in;
   margin-bottom : 0.10in;

   padding-top: 0.10in;

   border-top: 1px solid #ccc;

   font-family:serif;
   color: #adadad;
} 

li {}

p { 
  /* border:solid thin; */
  margin-top:0in;
  margin-right:0.50in;
  text-align:justify;
} 

sup { 
    color: #666; 
    vertical-align:middle;
    font-size:8pt;
}

ul { 
    /* border:solid thin; */
    margin-top:0in;
    margin-right:0in;
    list-style-type:none;
}

/* classes */

.activity {
	  margin-left:0in;
}

.activityDescription {
        border-top:1px dotted #ccc;

	margin-left: 0in;
	margin-right:0.50in;

	padding-left:0.25in;
	padding-top:0.10in;
}

.activityDescription p {
		margin-top:0in;
		margin-left:0in;
		margin-right:0in;
}

.activityTitle {
	  color:#666;
	  font-weight:600;
	  font-size:1.1em;
}

.address {}

.award {
       margin-left:-0.4in;
}

.awardTitle {
	  color:#666;
	  font-weight:600;
	  font-size:1.1em;
}

.degrees {
	margin-left:0in; 
	margin-right:0.50in;
	padding-left:0in;
}

.degree {}

.degreeTitle {
	  color:#666;
	  font-weight:600;
	  font-size:1.1em;
}

.description {
	     margin-top:0.10in;
	     margin-right:0.50in;
     
	     padding-top:0.10in;
	     border-top:1px dotted #ccc;
}

.description p {
	     margin-right:0in;
}

.employer {}

.externalLinks {
	       font-size:8pt;       
}

.heading {}

.headingText {}

.institution {}

.interestTitle {
	       margin-left:-0.15in;
}

.job {
       margin-left:0in;
}

.jobTitle {
	  color:#666;
	  font-weight:600;
	  font-size:1.1em;
}

.jobDescription {
        border-top:1px dotted #ccc;

	margin-left:0in;
	margin-right:0.50in;

	padding-left:0.25in;
	padding-top:0.10in;
}

.jobDescription p {
		margin-top:0in;
		margin-left:0in;
		margin-right:0in;
}

.lastModified {
	      font-size: 8pt;
	      font-family:serif;
      	      margin-top:0.5in;
	      color:#ccc;
}

.linkA {}

.location {}

.membership {
	    margin-left:-0.4in;
}

.membershipTitle {}

.membershipDescription {
        border-top:1px dotted #ccc;

	margin-top:0.10in;
	margin-right:0.50in;

	padding-top:0.10in;
}

.membershipDescription p {
		       margin-right:0in;
}

.nameHeading {}

.organization {
	  color:#666;
	  font-weight:600;
	  font-size:1.1em;
}

.para { 
       margin-left:0.25in;
}

.project {
	 list-style-type:square;
	 list-style-position:inside;
}

.projects {
	  font-size:10pt;
	  margin-left:-0.15in;
	  margin-right:0.50in;

      font-size:11pt;
      font-family:serif;
      color:#3f3f3f;
}

.projects p { display:none; }

.referees {}

.refereeName {
	  color:#666;
	  font-weight:600;
	  font-size:1.1em;
}

.resume {}

.skills {
        border-top:1px dotted #ccc;

	display:block;	

	/* see notes in screen.css for
	   why this is necessary */
	font-weight:100;
	color:#3f3f3f;
	margin-left:0in;

	padding-top:0.10in;
	padding-left:0.25in;
}

.skillSetTitle {
	  color:#666;
	  font-weight:600;
	  display:block;
	  margin-bottom:0.1in;	
	  font-size: 1.1em;
	  margin-left:0in;
}

</xsl:stylesheet>
